.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
    text-align: center;
    margin-top: 40px;
}
.navbar {
    background-color: crimson;
    color: red;
    padding:15px;
    border-radius:5px;

}
.input-box {
    box-sizing: border-box;
    background-color: #e3f2fd;
    padding: 0 10px 0 10px;
    border-radius: 2px;
    font-size: 1.2rem;
    width: 60vw;
}
.input-box:focus {
    outline: none;
    border: none;
}
.btn-primary {
    display: block;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease;
}
    .btn-primary:hover {
        background-color: dodgerblue;
        color: white;
    }
    .btn-primary:active {
        transform: scale(0.8);
        color: white;
        
    }

.dl {
    color: crimson;
    transition: all 0.3s ease;
}
    .dl:hover {
        color:red;
    }
    .dl:active {
        transform: scale(0.5);
    }

.ok {
    color: dodgerblue;
    transition: all 0.3s ease;
}
    .ok:hover {
        color:limegreen;
    }
    .ok:active{
        transform: scale(0.5); 
    }


body {
    background: linear-gradient(dodgerblue, blue);
    background-attachment: fixed;
   
}
.ext{display:contents;
    visibility:hidden;
}


.card-body{
    background-color:white;
}
